{{{comment}}}

{{#_flags.useJsonSerializable}}@JsonEnum(valueField: 'value'){{/_flags.useJsonSerializable}}
enum {{name}} {
  {{#options}}
    {{#comment}}
    {{{comment}}}
    {{/comment}}
  {{name}}("{{#value}}{{value}}{{/value}}{{^value}}{{name}}{{/value}}"){{^isLast}}, {{/isLast}}{{#isLast}};{{/isLast}}
  {{/options}}

  final String value;
  const {{name}}(this.value);
}
